# Configuration file

_challenges {
    B:armor=true
    B:armorslowscrafting=true
    B:deathwithconsequences=true
    B:findyourway=true
    B:hardstone=true
    B:healing=true
    B:navigation=true
    B:sleep=true
    B:sleeptoheal=true
    B:spawn=true
    B:stone=true
}


armor {
    I:ChainDelay=0
    I:DiamondDelay=1000
    I:GoldDelay=0
    I:IronDelay=500
    I:LeatherDelay=0
    B:QuickArmorSwap=true
    I:axeSlowdown=5
    I:disableJumpBlockPlacementAtLevel=13
    I:disableShovelsAtLevel=20
    I:eachGoldUnlocksEnchantmentLevels=2
    I:pickaxeSlowdown=5
    I:slowAxesAtLevel=15
    I:slowPickaxesAtLevel=20
    I:trampleCropsAtLevel=12
}


armorslowscrafting {
    I:ChainDelay=400
    I:DiamondDelay=1200
    I:GoldDelay=200
    I:IronDelay=600
    I:LeatherDelay=0
    B:QuickArmorSwap=true
}


deathwithconsequences {
    I:distanceToNewSpawnEasy=500
    I:distanceToNewSpawnHard=1500
    I:distanceToNewSpawnNormal=1000
}


hardstone {
    D:DiamondSlowdown=10.0
    D:GoldSlowdown=1.0
    D:IronSlowdown=10.0
    D:StoneSlowdown=10.0
    D:WoodSlowdown=10.0
}


healing {
    D:HealAmountEasy=9.0
    D:HealAmountHard=3.0
    D:HealAmountNormal=6.0
}


sleep {
    D:probabilityToWakeProtected=0.01
    D:probabilityToWakeUnprotected=0.5
}


sleeptoheal {
    D:HealAmountEasy=20.0
    D:HealAmountHard=5.0
    D:HealAmountNormal=10.0
}


spawn {
    I:distanceToNewSpawnEasy=500
    I:distanceToNewSpawnHard=1500
    I:distanceToNewSpawnNormal=1000
    I:spawnBorderRadius=10000
}


stone {
    D:DiamondSlowdown=10.0
    D:GoldSlowdown=1.0
    D:IronSlowdown=10.0
    D:StoneSlowdown=10.0
    D:WoodSlowdown=10.0
}


